{% extends 'base.html' %}
              {% block title_card %}
                Upload Arquivo
              {% endblock%}
                {% block content %}
                    
              <form action="/" method="POST" enctype="multipart/form-data">

                  <div class=" pt-4 pb-2">
                        {% if status_upload %}
                          <div class="alert alert-info"><span>Arquivo carregado com sucesso, em alguns instantes poderá verificar o log do arquivo</span></div>
                        {% else %}
                          {% if status_upload == False %}
                            <div class="alert alert-danger"><span>Arquivo nao carregado, arquivo nao è um .csv</span></div>
                          {% endif %}
                        {% endif %}
                        <input type="file" name="file_input" id="file_input" required placeolder="Select a file">
                        <button class="alert alert-info" type="submit" >Upload File</button>  
                      
                    </div> 
                    </form>
                  {% endblock %}