option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /html: static
    /images: images
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
    NumProcesses: 1
    NumThreads: 4
  aws:elasticbeanstalk:application:environment:
    ambient: dev
container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
